ul#horizontal-list li {
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
    font-size: large;
}

.mr-auto{
    margin-top: 20px;
    color:white;
}

ul#horizontal-list a{
    color:white;
}
