<!-- Top navigation -->
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" style="margin-right:20px">
      <h2><i class="fa fa-fire" style="color: crimson"></i> Meme Generator</h2>
    </a>
    <ul class="mr-auto" id="horizontal-list">
      <li><a routerLink="create-memes">Create Memes</a></li>
      <li><a routerLink="list-memes">My Memes</a></li>
      <li><a routerLink="list-memes/:id">All Memes</a></li>
    </ul>
  </nav>

<router-outlet></router-outlet>